html {
  border-left: 5px solid lightgray;
  min-height: 100vh;
  font-family: sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

header, main, footer {
  padding: 1rem 2rem;
  
}

header h1 {
  font-size: 5rem;
  color: tomato;
  font-family: serif;
  font-weight: 100;

}

header h2{
  font-size: 1.6rem;
  font-weight: 100; 
}

img {
  width: 100%;
}

.nav-list {
  list-style-type: none;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.nav-list a {
  color: lightgray;
  font-size: 1.5rem;
}

footer .nav-list a {
  color: tomato;
}

article h2 {
  font-size: 2rem;
  font-style: comic-sans;
}

article h1{
  font-size: 2rem;
  color: rgb(222, 226, 226);
  font-style: italic;
}

.continue-reading {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  color: tomato;
}

article {
  margin-bottom: 4rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}

article p::first-letter {
  color: lightgray;
}

footer {
  color: lightgray;
}